body {
	/*background-color: blue; */
	background: url(../img/halo-bg2.jpg) repeat top center;
	/*background: url("../img/halo-bg.jpg") repeat top center;*/
}

.main-wrapper {
	max-width: 960px;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}

.container-fluid {
	padding: 0;
}

.main-content-wrapper {
	width: 100%;
	background-color: white;
}

.navigation {
	padding: 0;
}

.padded {
	padding: 15px;
}

.navbar {
	margin-bottom: 0;
}